# ===== Core Web =====
flask
gunicorn
flask-cors
requests
python-dotenv

# ===== Database =====
flask-sqlalchemy
sqlalchemy
psycopg2-binary

# ===== Ollama Client =====
ollama
# ===== RAG - Score ====== 
faiss-cpu==1.13.2
sentence-transformers==3.2.1
rank-bm25==0.2.2
numpy



