# ===== Core Web =====
flask
gunicorn
flask-cors
requests
python-dotenv

# ===== Database =====
flask-sqlalchemy
sqlalchemy
psycopg2-binary

# ===== Ollama Client =====
ollama
# ===== RAG - Score ====== 
rank-bm25
faiss
sentence_transformers
numpy
